* {
  box-sizing: border-box;
  --acent-color: #97d0fb;
  --radius: 20px;
  --second-color: #4b5fd9;
  --third-color: #e03f69;
}

body {
  background: url('../assets/clouds.jpg');
  display: flex;
  flex-direction: column;
  align-content: center;
}

main {
  position: relative;
  display: grid;
  grid-template-rows: 200px 1fr;
  grid-template-columns: 300px 1fr;
  grid-template-areas:
    'search search'
    'day week'
  ;
  column-gap: 3rem;
}

.degree-mode {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  right: 10px;
}

.degree-mode:hover,
button {
  cursor: pointer;
}

input,
button,
.todayInfo-container,
.card-container {
  border-radius: var(--radius);
}

.icon {
  width: 100px;
}

.search-container {
  grid-area: search;
  place-self: center;
  width: 700px;
  padding: 10px;
  text-align: center;
}

input[type='search'] {
  height: 40px;
  border: 1px solid;
  background-color: transparent;
  backdrop-filter: blur(20px);
  padding: 1rem;
  width: 70%;
}

input[type='search']:focus-visible {
  border-color: #97d0fb;

}

.search-container button {
  border: none;
  height: 40px;
  width: 70px;
  background-color: var(--acent-color);
}


/* Today's weather section */

.todayInfo-container {
  grid-area: day;
  width: 100%;
  /* height: 700px; */
  max-height: 700px;
  text-align: center;
  place-self: start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: transparent;
  backdrop-filter: blur(10px);

}

.todayInfo-container .name-container {
  display: flex;
  flex-direction: column;
  background-color: var(--acent-color);
  border-radius: inherit;
}

.todayInfo-container .name-container h1 {
  margin: 5px;
}

/* Today's Temperature */
.todayInfo-container .todayTemperature {
  font-size: 4rem;
  margin: 0;
}

/* Today's details */
.description {
  transform: translateY(-.5rem);
}

/* Temperature styles */
.base-temperature {
  font-size: 2rem;
  margin: 0;
}

.todayInfo-container .icon {
  height: 50px;
  width: 50px;
  place-self: center;
}

.minmax-temp-container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  /* background-color: greenyellow; */
}

.minmax-temp-container .icon {
  width: 60px;
  height: 50px;
  place-self: center;
}


.minTemperature {
  color: var(--second-color);
}

.maxTemperature {
  color: var(--third-color);
}

.tempValues-container {
  margin: 0;
  transform: translateY(-10px);
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.wind-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  /* margin-bottom: 2rem; */
}

.wind-container span {
  align-self: center;
  font-size: 2rem;
}

/* Week section */
.weekInfo-container {
  grid-area: week;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.card-container {
  background-color: gray;
  width: 250px;
  text-align: center;
  background-color: transparent;
  backdrop-filter: blur(10px);

}

.dayCard-container #dayDate {
  font-size: 2rem;
}

.error-screen {
  background: url('../assets/404.jpg');
  /* font-size: 5rem; */
}

.error-msg {
  position: absolute;
  place-self: center;
  top: 40%;
  font-size: 4rem;

}

.loading {
  width: 200px;
  height: 200px;
  position: absolute;
  place-self: center;
  top: 40%;
  animation-name: rotate;
  animation-duration: .1s;

}

@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }

  25% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(45deg);
  }

  75% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(45deg);
  }
}
